API_HOST="100.100.100.100"
RPC_HOST="100.100.100.100"
NETWORK_STATUS_SERVICE_PORT=8888
ACTIVE_VALIDATOR_LIST_SERVICE_PORT=8889
INACTIVE_VALIDATOR_LIST_SERVICE_PORT=8890
VALIDATOR_DETAILS_SERVICE_PORT=8891
REPORT_SERVICE_PORT=8892
APP_SERVICE_PORT=8893